body,td,th {

	font-family: verdana;

	font-size: 11px;

	color: #000000;

}

body {

	background-color: #F4F8FF;

	margin-left: 0px;

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

}

a {

	font-size: 11px;

	color:#000000;

	text-decoration:underline;

}

a:visited {

	color:#000000;

	text-decoration:underline;

		}

a:hover {

	color:#4C7CC1;

	text-decoration:none;

}

a:active {

	color:#4C7CC1;

	text-decoration:none;

}

a.free:link {

	font-size: 11px;

	color:#4C7CC1;

	text-decoration:none;

}

a.free:visited {

	color:#4C7CC1;

	text-decoration:none;

		}

a.free:hover {

	color:#EDEDED;

	background-color:#333333;

	text-decoration:none;

}

a.free:active {

	color:#4C7CC1;

	text-decoration:none;

}

.header{ 

height:50px;
padding-top:30px;
font-size:25px;
width:100%;
background:url(images1/anilag.png);
color:#fff;
}

.logo{

float:left;

margin-left:100px;

}

.navbg {

	background-image:url(images1/navbg_08.gif);

	background-repeat:repeat-x;

	width:100%;

	height:32px;

	}

#navcontainer ul

{

	margin: 0;

	list-style-type: none;

	text-align: center;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight:bold;

	height: 24px;

	padding-top:8px;

	padding-bottom:8px;

	display:block;

}



#navcontainer ul li { display: inline; }



#navcontainer ul li a

{

text-decoration: none;

font-size: 12px;

font-weight:bold;

padding-bottom: 8px;

padding-left:10px;

padding-right:10px;

border-right:#3464AF solid 1px;

padding-top:8px;

color:#ffffff;

width: 100%;

height: 32px;

}



#navcontainer ul li a:hover

{

color:#ffffff;

background:url(images1/novoverbg_08.gif) repeat-x;

font-size: 12px;

font-weight:bold;

text-decoration:none;

padding-bottom: 8px;

padding-left:10px;

padding-right:10px;

padding-top:8px;

width: 100%;

height:33px;

}

.maincontent{

width:100%;


border-top:3px solid #ededed;

margin-lefT:0 auto;

}

.floatelft{

float:left;

background-color:#FFFFFF;

margin-left:15px;

padding-left:5px;

padding-right:5px;

width:97%;

border-right:1px dotted #cccccc;

border-left:1px dotted #cccccc;

border-bottom:3px solid #ededed;

}

.floatmain{

float:left;

margin-right:10px;

margin-left:10px;

width:500px;

border-right:1px dotted #cccccc;

border-left:1px dotted #cccccc;

padding-left:5px;

padding-right:5px;

border-bottom:3px solid #ededed;

}

.lowercontent{

background-color:#efefef;

padding-top:20px;

margin-top:10px;

width:100%;

float:left;

position:relative;

height:20px;

border-bottom:1px #cccccc solid;

}

.lowerboxl {

float:left;

margin-left:2%;

width:30%;

background-color:#EFEFEF;

}

.footer{

	width:100%;

	height:30px;

	background:url(images1/headerrepeat_02_02_02.gif) repeat-x;

	position:relative;

	padding-top:5px;

	text-align:center;

	color:#ffffff;

	float:left;

	background-color: #4C7DC3;

}




.footer1{

	width:100%;

	height:75px;


	position:relative;

	padding-top:5px;

	text-align:center;

	color:#ffffff;

	float:left;


}



h1,h2,h3,h4,h5,h6 {

	font-weight: bold;

}

h2 {

	font-size: 12px;

	color: #000000;

	padding-top:2px;

	border-top:3px #4C7DC3 solid;

	padding-left:20px;

	background:url(images1/bgarrow.jpg) left no-repeat;

	padding-bottom:2px;

	border-bottom:2px solid #ededed;

}

h1 {

	font-size: 14px;

	color: #000000;

	padding-top:2px;

	padding-left:20px;

	padding-bottom:2px;

	border-bottom:2px solid #ededed;

}

h3 {

	font-size: 12px;

	color: #666666;

	padding-top:2px;

	padding-left:10px;

	padding-bottom:2px;

	border-bottom:2px solid #cccccc;

}

a.main:link {

color:#000000;

margin-bottom:5px;

padding-lefT:40px;

display:block;

background:#ffffff;

width:70%;

font-size:12px;

border-bottom:1px dotted #CCC;

text-decoration:none;

display:block;

padding-top:5px;

}

a.main:visited {

color:#000000;

font-size:12px;

background:#ffffff;

margin-bottom:5px;

padding-lefT:40px;

border-bottom:1px dotted #CCC;

text-decoration:none;

display:block;

width:70%;

}

a.main:hover {

font-size:12px;

border-bottom:1px solid #cccccc;

text-decoration:none;

padding-lefT:40px;

display:block;

background:#EDEDED;

width:70%;

}

a.main2:link {

color:#666666;

margin-bottom:5px;

padding-lefT:20px;

display:block;

background:#EFEFEF;

width:70%;

font-size:12px;

border-bottom:1px dotted #CCC;

text-decoration:none;

display:block;

padding-top:5px;

}

a.main2:visited {

color:#666666;

font-size:12px;

background:#EFEFEF;

margin-bottom:5px;

padding-lefT:20px;

border-bottom:1px dotted #CCC;

text-decoration:none;

display:block;

width:70%;

}

a.main2:hover {

font-size:12px;

border-bottom:1px solid #cccccc;

text-decoration:none;

padding-lefT:20px;

display:block;

background:#ffffff;

width:70%;

}
/*this is my own----------------------------------------------------------------------------------------*/
#sidebar1 {
	float: left;
	width: 740px;
}
/* Content > Sidebar > Support */
#inputsubmit1 {
	background: #385B88;
	color: #FFFFFF;
}
input.btn{
   color:#ffffff;
   font-family: Arial, Helvetica, sans-serif;
   font-size:100%;
   font-weight:bold;
   background-color:#4C7CC1;
   border:2px solid;
   border-top-color:#000000;
   border-left-color:#000000;
   border-right-color:#000000;
   border-bottom-color:#000000;
   /*filter:progid:DXImageTransform.Microsoft.Gradient
   (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');*/
   }
   input.dilaw {background-color: #FFFFCC;
	color: #2D374D;
}
   input.blue {background-color: #C9E8F8;
	color: #C9E8F8;
}
select { 
background-color: #FFFFCC;
font:12px verdana, arial, helvetica, sans-serif;
color:#003399;
}

table.bg{
background-image:url(images1/back.gif);
}
table.bg_login{
background-image:url(images1/back1.gif);
}
#Layer1 {
	position:absolute;
	width:127px;
	height:57px;
	z-index:1;
	left: 5px;
	top: 9px;
}
<!--
#Layer2 {
	position:absolute;
	width:125px;
	height:113px;
	z-index:1;
	top: 5px;
	left: 110px;
}
-->